<?xml version="1.0"?>

<model>
  <name>Amber</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Faithfulness Alamu</name>
    <email>faithfulnessalamu@outlook.com</email>
  </author>

  <description>
    Amber, based on Nate Koenig's model of the pioneer 2 dx robot.
  </description>

  <depend>
  </depend>
</model>
